USE [master]
GO
/****** Object:  Database [HotelReservation]    Script Date: 18-Apr-19 9:44:09 PM ******/
CREATE DATABASE [HotelReservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelReservation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SA\MSSQL\DATA\HotelReservation.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelReservation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SA\MSSQL\DATA\HotelReservation_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelReservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelReservation]
GO
/****** Object:  StoredProcedure [dbo].[sp_add_tblHotel_tblDisplayRoom]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_add_tblHotel_tblDisplayRoom]

@hotelName varchar(100),
@location varchar(100),
@NoOfDeluxe int,
@NoOfSuperDeluxe int,
@NoOfSuite int
as begin
declare @hotelid int
insert into tblHotel values (@hotelName,@location) set @hotelid=SCOPE_IDENTITY()
insert into tblDisplayRoom(HotelID,RoomID,TotalRoomCount) values(@hotelid,1,@NoOfDeluxe)
insert into tblDisplayRoom(HotelID,RoomID,TotalRoomCount) values(@hotelid,2,@NoOfSuperDeluxe)
insert into tblDisplayRoom(HotelID,RoomID,TotalRoomCount) values(@hotelid,3,@NoOfSuite)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AddDiscount]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AddDiscount]
@DiscountCode varchar(50),
@DiscountPerc float
as begin
insert into tblDiscount values(@DiscountCode,@DiscountPerc)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BookingByPageSize]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BookingByPageSize]
@pageNo int,
@NoOfRecord int,
@TotalRecord int output
as 
select @TotalRecord =
count(*) from tblReservation
select * from 
(
select 
Row_number() over
(order by r.bookingid asc)
as RowNo,
r.BookingId,
u.Fullname,
h.hotelName,
case when r.bookingstatus=1 then 'Confirmed'
when r.BookingStatus=0 then 'Cancelled'
end as Booking_Status
,r.Check_In,r.Check_Out,r.NoOfGuests,ro.RoomTypeName,r.NoOfRoomsBooked,r.NationalID,r.Amount from tblReservation as r inner join
tblHotel as h on r.HotelId=h.HotelID 
inner join  tblUser as u 
on u.UId=r.UId inner join tblRooms as ro on ro.RoomsID=r.RoomType)
AS Tab
where tab.RowNo between((@PageNo-1)*@NoOfRecord)+1 and (@PageNo*@NoOfRecord)
order  by 2 asc
return


GO
/****** Object:  StoredProcedure [dbo].[sp_BookingHistoryByPageSizeUser]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BookingHistoryByPageSizeUser]
@pageNo int,
@NoOfRecord int,
@uid int,
@TotalRecord int output
as 
select @TotalRecord =
count(*) from (select * from tblReservation where UId=@uid) as table1
select * from 
(
select 
Row_number() over
(order by r.bookingid asc)
as RowNo,
r.BookingId,
u.Fullname,
h.hotelName,
case when r.bookingstatus=1 then 'Confirmed'
when r.BookingStatus=0 then 'Cancelled'
end as Booking_Status
,r.Check_In,r.Check_Out,r.NoOfGuests,ro.RoomTypeName,r.NoOfRoomsBooked,r.NationalID,r.Amount from tblReservation as r inner join
tblHotel as h on r.HotelId=h.HotelID 
inner join  tblUser as u 
on u.UId=r.UId inner join tblRooms as ro on ro.RoomsID=r.RoomType where u.UId=@uid)
AS Tab
where tab.RowNo between((@PageNo-1)*@NoOfRecord)+1 and (@PageNo*@NoOfRecord)
order  by 2 asc
return

GO
/****** Object:  StoredProcedure [dbo].[sp_Cancel_Reservation]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cancel_Reservation]
@BID int,
@uid int
as begin
declare @amount money
update tblreservation set BookingStatus=0 where BookingID=@BID and UId=@uid
set @amount=(select (Amount*0.5) from tblReservation where BookingId=@BID and UId=@uid)
INSERT INTO tblTransaction values(@uid,@BID,'Cancel Booking',getdate(),Convert(Time, GetDate()),@amount,'Cr.');
Update Wallet set balance=balance+@amount where UserID=@uid;
Delete from tblAvailability where ID=@BID-1007
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Discount]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Delete_Discount]
@DiscountID int
as begin
delete from tblDiscount where DiscountID=@DiscountID
end

GO
/****** Object:  StoredProcedure [dbo].[sp_deleteHotel_By_RoomType]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_deleteHotel_By_RoomType]
@hotelName varchar(100),
@roomType varchar(100)
as begin
declare @hotelid int
declare @roomid int
set @hotelid=(select HotelID from tblHotel where HotelName=@hotelName)
set @roomid=(select RoomsID from tblRooms where RoomTypeName=@roomType)
delete from tblDisplayRoom 
WHERE RoomID = @roomid and HotelID=@hotelid 

end


GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateBill]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_GenerateBill]
@uid int,
@bookingId int
as begin
select tblReservation.bookingid,tblUser.FullName,CONVERT(varchar,tblReservation.Check_In,106)as Check_In,CONVERT(varchar,tblReservation.Check_Out,106)as Check_out,tblHotel.HotelName
from tblReservation inner join tblUser on
tblReservation.UId=tblUser.UId inner join 
tblHotel on tblReservation.HotelId=tblHotel.HotelID
where tblReservation.UId=@uid and tblReservation.BookingId=@bookingId;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_generatecancelbill]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_generatecancelbill]
@BID int,
@UID int

as begin

select r.BookingId,u.FullName,CONVERT(varchar,r.Check_In,106),CONVERT(varchar,r.Check_Out,106),h.HotelName from tblReservation as r join tblUser as u 
on r.UId=u.UId join tblHotel as h on r.HotelId=h.HotelID where r.BookingId= @BID and r.UId=@UID and r.BookingStatus=0;
end


GO
/****** Object:  StoredProcedure [dbo].[sp_getAllDiscount]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getAllDiscount] 
as begin

select * from tblDiscount
end


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDiscountByPageSize]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllDiscountByPageSize]
@pageNo int,
@NoOfRecord int,
@TotalRecord int output
as 
select @TotalRecord =
count(*) from tblDiscount
select * from 
(
select 
Row_number() over
(order by DiscountID asc)
as RowNo,
DiscountID,
DiscountCode,
DiscountPerc
FROM 
tblDiscount
) 
AS Tab
where tab.RowNo between((@PageNo-1)*@NoOfRecord)+1 and (@PageNo*@NoOfRecord)
order  by DiscountID asc
return


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllHotelDetails]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_GetAllHotelDetails]
as begin 
select c.ID,h.HotelName,h.location,r.RoomTypeName,c.totalRoomCount
from tblHotel as h inner join tblDisplayRoom as c on
h.HotelID=c.HotelID inner join tblRooms as r on
r.RoomsID=c.RoomID
end


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRoomsDetails]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllRoomsDetails]
as begin
select RoomsID,RoomTypeName,Price,Amenities,Description
 from tblRooms
end

GO
/****** Object:  StoredProcedure [dbo].[sp_getAllUser]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getAllUser]
as begin
select * from tblUser
end


GO
/****** Object:  StoredProcedure [dbo].[sp_getAnnualRevenue]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_getAnnualRevenue]
as
begin
select h.HotelName,sum(r.Amount) as Amount from tblhotel h inner join tblReservation r
on h.HotelId=r.hotelId
group by h.HotelName
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailibilityByID]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAvailibilityByID]
@hotelid int,@roomid int,@checkin datetime,@checkout datetime
as begin
select hotelid,roomid,isnull(((sum(totalRoomCount))-
(select sum(NoOfRoomsBooked) as booked_rooms from tblAvailability where CheckInDate between @checkin  and @checkout
and HotelID=@hotelid and RoomID=@roomid)),sum(totalRoomCount)) as availableRooms from tblDisplayRoom
where HotelID=@hotelid and RoomID=@roomid 
 group by Hotelid,RoomID;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_getBookingReport]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getBookingReport]
as
begin


select h.HotelName,r.UId,r.Check_In,r.Check_Out,r.NoOfGuests from tblhotel h inner join tblReservation r
on h.HotelId=r.hotelId
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetFullName]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetFullName]
@Uname varchar(50)
as 
begin
select 
Fullname from tblUser where Uname=@uName
End

GO
/****** Object:  StoredProcedure [dbo].[sp_getHotelByPageSize]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_getHotelByPageSize]
@pageNo int,
@NoOfRecord int,
@TotalRecord int output
as 
select @TotalRecord =
count(*) from tblDisplayRoom
select * from (
select Row_number() over (order by c.ID asc) as RowNo,c.ID,h.HotelName,h.location,r.RoomTypeName,c.totalRoomCount
from tblHotel as h inner join tblDisplayRoom as c on
h.HotelID=c.HotelID inner join tblRooms as r on
r.RoomsID=c.RoomID)
AS Tab
where tab.RowNo between((@PageNo-1)*@NoOfRecord)+1 and (@PageNo*@NoOfRecord)
order by tab.RowNo
return 





GO
/****** Object:  StoredProcedure [dbo].[sp_getTransactionDetails]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getTransactionDetails]

as begin
select u.Fullname,u.UId,t.bookingId,t.Particulars,t.date,t.amount from tblUser as u inner join tblTransaction as t
on u.UId=t.UId 
end


GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUserAndPass]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetUserByUserAndPass]
@uname varchar(50),
@password varchar(50)
as
Begin
select Uname,Password,Status from tblUser where Uname=@uname and Password=@password
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDetails]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserDetails]
@Uname varchar(50)
as 
begin
select 
* from tblUser where Uname=@uName
End



GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_RegisterUser]
@FullName varchar(50),@gender varchar(50),@Uname varchar(50),@Password varchar(50),@City varchar(50),@ZipCode varchar(50),@Country varchar(50),@dater date,
@cardNumber bigint
as begin
declare @userid int

Insert into tblUser(FullName,Gender,Uname,Password,City,ZipCode,Country,Status,Dob) 
values(@FullName,@gender,@Uname,@Password,@City,@ZipCode,@Country,0,@dater)

set @userid=SCOPE_IDENTITY()

Insert into Wallet values (@userid,@cardNumber,20000)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_update_tblDisplayRooms_ByHotel_ByRooms]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_update_tblDisplayRooms_ByHotel_ByRooms]
@id int,
@hotelName varchar(100),
@location varchar(100),
@RoomTypeName varchar(100),
@totalRoomCount int
as begin

declare @hotelid int
declare @roomid int
set @hotelid=(select top 1 tblDisplayRoom.HotelID from tblDisplayRoom where ID=@id)
set @roomid=(select top 1 tblDisplayRoom.RoomID from tblDisplayRoom where ID=@id)
Update tblDisplayRoom set TotalRoomCount=@totalRoomCount
where id=@id 
Update tblHotel set HotelName=@hotelName,Location=@location where HotelID=@hotelid
Update tblRooms set RoomTypeName=@RoomTypeName where RoomsID=@roomid

end






GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDiscount]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_UpdateDiscount]
@DiscountID int,
@DiscountCode varchar(50),
@DiscountPerc varchar(50)
as begin
Update tblDiscount set DiscountCode=@DiscountCode,DiscountPerc=@DiscountPerc where DiscountID=@DiscountID
end

GO
/****** Object:  Table [dbo].[tblAvailability]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAvailability](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[NoOfRoomsBooked] [int] NULL,
 CONSTRAINT [PK_Availability] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDiscount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [varchar](50) NOT NULL,
	[DiscountPerc] [float] NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDisplayRoom]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDisplayRoom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[TotalRoomCount] [int] NOT NULL,
	[ImageID] [int] NULL,
 CONSTRAINT [PK_DisplayRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblGallery]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGallery](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[Image1] [image] NULL,
	[Image2] [image] NULL,
	[Image3] [image] NULL,
	[Image4] [image] NULL,
 CONSTRAINT [PK_tblGallery] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHotel]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblHotel](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [varchar](100) NOT NULL,
	[Location] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblReservation]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReservation](
	[BookingId] [int] IDENTITY(1000,1) NOT NULL,
	[HotelId] [int] NOT NULL,
	[UId] [int] NOT NULL,
	[BookingStatus] [int] NOT NULL,
	[Check_In] [datetime] NOT NULL,
	[Check_Out] [datetime] NOT NULL,
	[NoOfGuests] [int] NOT NULL,
	[RoomType] [int] NOT NULL,
	[NoOfRoomsBooked] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[NationalID] [image] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblReview]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblReview](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[Uid] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_tblReview] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRooms]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRooms](
	[RoomsID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeName] [varchar](100) NOT NULL,
	[Price] [money] NOT NULL,
	[Amenities] [varchar](300) NULL,
	[Description] [varchar](300) NULL,
 CONSTRAINT [PK_Rooms_1] PRIMARY KEY CLUSTERED 
(
	[RoomsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransaction]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTransaction](
	[TransactionID] [int] IDENTITY(1000,1) NOT NULL,
	[UId] [int] NOT NULL,
	[BookingId] [int] NULL,
	[Particulars] [varchar](150) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Amount] [money] NOT NULL,
	[Type] [varchar](4) NOT NULL,
 CONSTRAINT [PK_tblTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[UName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
	[City] [varchar](50) NOT NULL,
	[ZipCode] [varchar](50) NOT NULL,
	[Dob] [date] NOT NULL,
	[Country] [varchar](50) NOT NULL,
 CONSTRAINT [PK__tblUser__C5B19662124FEB8C] PRIMARY KEY CLUSTERED 
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 18-Apr-19 9:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[UserID] [int] NOT NULL,
	[CardNumber] [bigint] NOT NULL,
	[Balance] [money] NOT NULL,
 CONSTRAINT [PK_Wallet_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAvailability] ON 

GO
INSERT [dbo].[tblAvailability] ([ID], [CheckInDate], [CheckOutDate], [HotelID], [RoomID], [NoOfRoomsBooked]) VALUES (1, CAST(0x393F0B00 AS Date), CAST(0x3A3F0B00 AS Date), 4, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[tblAvailability] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDiscount] ON 

GO
INSERT [dbo].[tblDiscount] ([DiscountID], [DiscountCode], [DiscountPerc]) VALUES (1, N'FIRSTPAY', 50)
GO
INSERT [dbo].[tblDiscount] ([DiscountID], [DiscountCode], [DiscountPerc]) VALUES (2, N'MERRY30', 30)
GO
INSERT [dbo].[tblDiscount] ([DiscountID], [DiscountCode], [DiscountPerc]) VALUES (4, N'SUMMEROFF', 30)
GO
SET IDENTITY_INSERT [dbo].[tblDiscount] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDisplayRoom] ON 

GO
INSERT [dbo].[tblDisplayRoom] ([ID], [HotelID], [RoomID], [TotalRoomCount], [ImageID]) VALUES (4, 3, 1, 40, 1)
GO
INSERT [dbo].[tblDisplayRoom] ([ID], [HotelID], [RoomID], [TotalRoomCount], [ImageID]) VALUES (5, 3, 2, 30, 1)
GO
INSERT [dbo].[tblDisplayRoom] ([ID], [HotelID], [RoomID], [TotalRoomCount], [ImageID]) VALUES (6, 3, 3, 20, 1)
GO
SET IDENTITY_INSERT [dbo].[tblDisplayRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGallery] ON 

GO
INSERT [dbo].[tblGallery] ([ImageID], [HotelID], [RoomID], [Image1], [Image2], [Image3], [Image4]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblGallery] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHotel] ON 

GO
INSERT [dbo].[tblHotel] ([HotelID], [HotelName], [Location]) VALUES (2, N'ITC-DELHI', N'DELHI')
GO
INSERT [dbo].[tblHotel] ([HotelID], [HotelName], [Location]) VALUES (3, N'ITC-MUMBAI', N'MUMBAI')
GO
INSERT [dbo].[tblHotel] ([HotelID], [HotelName], [Location]) VALUES (4, N'ITC-KOLKATA', N'Kolkata')
GO
SET IDENTITY_INSERT [dbo].[tblHotel] OFF
GO
SET IDENTITY_INSERT [dbo].[tblReservation] ON 

GO
SET IDENTITY_INSERT [dbo].[tblReservation] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRooms] ON 

GO
INSERT [dbo].[tblRooms] ([RoomsID], [RoomTypeName], [Price], [Amenities], [Description]) VALUES (1, N'Deluxe', 2500.0000, N'AC,Geyser,Television,Parking', N'Non-refundable,Room-only')
GO
INSERT [dbo].[tblRooms] ([RoomsID], [RoomTypeName], [Price], [Amenities], [Description]) VALUES (2, N'SuperDeluxe', 3500.0000, N'AC,Television,Parking,WiFi', N'Non-refundable,Breakfast')
GO
INSERT [dbo].[tblRooms] ([RoomsID], [RoomTypeName], [Price], [Amenities], [Description]) VALUES (3, N'Suite', 4500.0000, N'Television,WiFi', N'Refundable,Breakfast')
GO
SET IDENTITY_INSERT [dbo].[tblRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTransaction] ON 

GO
INSERT [dbo].[tblTransaction] ([TransactionID], [UId], [BookingId], [Particulars], [Date], [Time], [Amount], [Type]) VALUES (1000, 6, 1000, N'Book a Hotel', CAST(0x373F0B00 AS Date), CAST(0x07006C71D8C10000 AS Time), 2500.0000, N'Dr.')
GO
INSERT [dbo].[tblTransaction] ([TransactionID], [UId], [BookingId], [Particulars], [Date], [Time], [Amount], [Type]) VALUES (1001, 6, 1000, N'Cancel Booking', CAST(0x373F0B00 AS Date), CAST(0x076061D609C20000 AS Time), 1250.0000, N'Cr.')
GO
SET IDENTITY_INSERT [dbo].[tblTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

GO
INSERT [dbo].[tblUser] ([UId], [UName], [Password], [FullName], [Gender], [Status], [City], [ZipCode], [Dob], [Country]) VALUES (1, N'admin@zhotels.com', N'admin', N'admin', N'Male', 1, N'dfg', N'dfg', CAST(0x2A3C0B00 AS Date), N'India')
GO
INSERT [dbo].[tblUser] ([UId], [UName], [Password], [FullName], [Gender], [Status], [City], [ZipCode], [Dob], [Country]) VALUES (2, N'grbknr1996@gmail.com', N'123', N'Gourab Konar', N'Male', 0, N'Kolkata', N'713101', CAST(0x2A3C0B00 AS Date), N'India')
GO
INSERT [dbo].[tblUser] ([UId], [UName], [Password], [FullName], [Gender], [Status], [City], [ZipCode], [Dob], [Country]) VALUES (6, N'pritha.poddar@gmail.com', N'123', N'pritha poddar', N'Female', 0, N'KOLKATA', N'700078', CAST(0x521E0B00 AS Date), N'India')
GO
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
INSERT [dbo].[Wallet] ([UserID], [CardNumber], [Balance]) VALUES (1, 8232341339514850, 11071000.0000)
GO
INSERT [dbo].[Wallet] ([UserID], [CardNumber], [Balance]) VALUES (2, 4235680742913703, 100000.0000)
GO
INSERT [dbo].[Wallet] ([UserID], [CardNumber], [Balance]) VALUES (6, 2270452340887857, 11350.0000)
GO
ALTER TABLE [dbo].[tblAvailability]  WITH CHECK ADD  CONSTRAINT [FK_Availability_Hotel1] FOREIGN KEY([HotelID])
REFERENCES [dbo].[tblHotel] ([HotelID])
GO
ALTER TABLE [dbo].[tblAvailability] CHECK CONSTRAINT [FK_Availability_Hotel1]
GO
ALTER TABLE [dbo].[tblAvailability]  WITH CHECK ADD  CONSTRAINT [FK_Availability_Rooms1] FOREIGN KEY([RoomID])
REFERENCES [dbo].[tblRooms] ([RoomsID])
GO
ALTER TABLE [dbo].[tblAvailability] CHECK CONSTRAINT [FK_Availability_Rooms1]
GO
ALTER TABLE [dbo].[tblDisplayRoom]  WITH CHECK ADD  CONSTRAINT [FK_tblDisplayRoom_tblGallery] FOREIGN KEY([ImageID])
REFERENCES [dbo].[tblGallery] ([ImageID])
GO
ALTER TABLE [dbo].[tblDisplayRoom] CHECK CONSTRAINT [FK_tblDisplayRoom_tblGallery]
GO
ALTER TABLE [dbo].[tblReservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_User] FOREIGN KEY([UId])
REFERENCES [dbo].[tblUser] ([UId])
GO
ALTER TABLE [dbo].[tblReservation] CHECK CONSTRAINT [FK_Reservation_User]
GO
ALTER TABLE [dbo].[tblReservation]  WITH CHECK ADD  CONSTRAINT [FK_tblReservation_tblHotel] FOREIGN KEY([HotelId])
REFERENCES [dbo].[tblHotel] ([HotelID])
GO
ALTER TABLE [dbo].[tblReservation] CHECK CONSTRAINT [FK_tblReservation_tblHotel]
GO
ALTER TABLE [dbo].[tblReview]  WITH CHECK ADD  CONSTRAINT [FK_tblReview_tblHotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[tblHotel] ([HotelID])
GO
ALTER TABLE [dbo].[tblReview] CHECK CONSTRAINT [FK_tblReview_tblHotel]
GO
ALTER TABLE [dbo].[tblTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tblTransaction_Wallet] FOREIGN KEY([UId])
REFERENCES [dbo].[Wallet] ([UserID])
GO
ALTER TABLE [dbo].[tblTransaction] CHECK CONSTRAINT [FK_tblTransaction_Wallet]
GO
USE [master]
GO
